* {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/Users/benjaminclosson/sei/deliverables/Tamagotchi-Project/images/pixel grass mountains.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    padding: 20px;
    top: 0;
    width: 100%;
}

.start {
    background: rgba(9, 225, 9, 0.858);
    height: 50px;
    width: 125px;
    margin: 5px;
    border-radius: 25%;
}

.name {
    font-size: 10px;
    text-align: center;
    color: yellow;
    background: rgb(216, 43, 153);
    height: 50px;
    width: 125px;
    margin: 5px;
    border-radius: 25%; 
}

.age {
    font-size: 30px;
    line-height: 30px;
}

.clock {
    display: flex;
    flex-direction: row;
 
}

#time {
    font-size: 30px;
    line-height: 30px;
}

#yoshi {
   border-radius: 50%;
   height: 50px; 
   margin: 5px;
}

/*-----------------Hello Section Styling-----------*/

.hello {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
}

#love {
    font-size: 30px;
    padding: 5px;
    animation: title 3s 5s infinite;
}

@keyframes title {
    0% {
        transform: (.1);
        opacity: 0;
    }
    50% {
        transform:(1.2);
        opacity: .5;
    }
    100% {
        transform: (1);
        opacity: 1;
    }
}

#heart {
    border-radius: 50%;
    height: 40px;
    padding: 5px;
}


/* ----------------Meter Section Styling -----------*/
.meter {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: left;
    width: 100%;
}

.meter-hungry {
    display: flex;
    justify-content: left;
    background: grey;
    height: 30px;
    width: 30%;
    line-height: 30px;
    margin: 5px;
    border-radius: 15%;
}

.hunger {
    font-size: 15px;
    text-align: match-parent;
    height: 100%;
    width: 0px;
    background: rgba(13, 46, 232, 0.687);
    border-radius: 15%;
}

.meter-bord {
    display: flex;
    justify-content: left;
    background: grey;
    height: 30px;
    width: 30%;
    line-height: 30px;
    margin: 5px;
    border-radius: 15%;
}

.bordom {
    font-size: 15px;
    text-align: match-parent;
    height: 100%;
    width: 0px;
    background: rgba(13, 46, 232, 0.687);
    border-radius: 15%;
}
 
.meter-sleep {
    display: flex;
    justify-content: left;
    background: grey;
    height: 30px;
    width: 30%;
    line-height: 30px;
    margin: 5px;
    border-radius: 15%;
} 

.sleepy {
    font-size: 15px;
    text-align: match-parent;
    height: 100%;
    width: 0px;
    background: rgba(13, 46, 232, 0.687);
    border-radius: 15%;
}

/* ---------------- Character Styling/Animation------------------*/

.middle {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    height: 150px;
}

#old {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    opacity: 0;
}

#adult {
    border-radius: 50%;
    height: 150px;
    position: absolute;
    opacity: 0;
}

#kid {
    border-radius: 50%;
    height: 150px;
    position: absolute;
    opacity: 0;
}

#baby {
    border-radius: 50%;
    height: 150px;
    position: absolute;
    opacity: 0;
    animation: forward 6s 6s infinite;
}

@keyframes forward {
    0%, 100%{
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(-25px, 5px);
    }
    30% {
        transform: traslate(-50px, -5px);
    }
    40% {
        transform: translate(-100px, -5px);
    }
    50% {
        transform: translate(-50px, 5px);
    }
    60% {
        transform: translate(-25px, -5px);
    }
    70% {
        transform: translate(0px, 5px);
    }
    80% {
        transform: translate(0px, 10px);
    }
    90% {
        transform: translate(0px, 5px)
    }
}

#egg {
    border-radius: 50%;
    height: 150px;
    position: absolute;
    opacity: 1;
    animation: egg .6s cubic-bezier(.36, .07, .19, .97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes egg{
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.bottom {
    width: 100%;
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    bottom: 1;
}

.feed {
    background: rgba(255, 105, 180, 0.755); 
    font-size: 8px; 
    border-radius: 45%;
    width: 75px;
    height: 100px;
    margin: 0 20px 0 20px;
    padding: 3px;
    
}

.exercise {
    background: rgba(252, 252, 82, 0.755);
    font-size: 8px;
    border-radius: 45%;
    width: 75px;
    height: 100px;
    margin: 0 20px 0 20px;
    padding: 3px;
}

.sleep {
    background: rgba(5, 210, 210, 0.755);
    font-size: 8px;
    border-radius: 45%;
    width: 75px;
    height: 100px;
    margin: 0 20px 0 20px;
    padding: 3px;
}

.lights {
    background: rgba(158, 10, 232, 0.755);
    font-size: 8px;
    border-radius: 45%;
    width: 75px;
    height: 100px;
    margin: 0 20px 0 20px;
    padding: 3px;
}
